:root {
    --background: #15202B;
    --backgroundLighter: #192734;
    --primary: #FFAD1F;
    --textDarker: #BBBBBB;
    --text: #FFFFFF;
}

/**
 * General
 */
body{
    background-color: var(--background);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    position: relative;
}

.adornment{
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: -1;
}

#content{
    margin-top: 70px;
    padding-bottom: 70px;
}

#content h2{
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.text{
    color: var(--textDarker);
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}

/**
 * Menu
 */
header{
    padding-top: 40px;
}

#menu{
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    text-align: right;
}

#menu li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

#menu li:first-child{
    margin-left: 0;
}

#menu li:last-child{
    margin-right: 0;
}

#menu a{
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: var(--textDarker);
    transition: all 200ms ease-in-out;
    text-transform: lowercase;
}

#menu a.active,
#menu a:hover{
    color: var(--text);
}

/**
 * Home content
 */
#home-content{
    margin-top: 200px;
}

#home-content h1{
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    color: var(--text);
    margin-top: 0;
    margin-bottom: 0;
}

#home-content h1 span{
    color: var(--primary);
}

#home-content h2{
    font-size: 36px;
    line-height: 44px;
    font-weight: normal;
    color: var(--textDarker);
    margin-top: 10px;
    margin-bottom: 0;
}

#networks{
     margin-top: 40px;
     margin-bottom: 0;
     padding: 0;
     list-style: none;
 }

#networks li{
    display: inline-block;
    margin-right: 20px;
}

#networks li:last-child{
    margin-right: 0;
}

#networks a{
    padding: 5px 7px;
    border-radius: 4px;
    background-color: var(--backgroundLighter);
    display: inline-block;
    vertical-align: middle;
    transition: background-color 200ms ease-in-out;
}

#networks a:hover{
    background-color: var(--primary);
}

#networks a img{
    display: inline-block;
    vertical-align: middle;
}

/**
 * Project
 */
.project{
    margin-top: 60px;
}

.project img{
    border-radius: 4px;
    width: 100%;
}

.project h3{
    margin-top: 20px;
    margin-bottom: 0;
}

.project a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--primary);
}

h3{
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--primary);
    display: inline-block;
    padding: 3px 5px;
}

/**
 * About
 */
.img-round{
    border-radius: 50%;
    margin-bottom: 25px;
}

/**
 * Responsive
 */
@media only screen and (max-width: 767px) {
    header,
    #menu{
        text-align: center;
    }

    #menu{
        margin-top: 30px;
    }

    #menu li{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    #home-content{
        margin-top: 100px;
        text-align: center;
    }

    #home-content h1{
        font-size: 30px;
        line-height: 30px;
    }

    #home-content h2{
        font-size: 20px;
        line-height: 24px;
    }
}