{{ define "main" }}
	<main>
        <div class="intro">
<pre><code class="nim">proc introMessage() =
  echo "Hi. My name is Rafael Morais.";
  echo "Most of the time backend developer, and occasionally a creative.";

when isMainModule:
  echo introMessage()
</code></pre>
        </div>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
