@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Segoe UI, Roboto;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 1040px;
  height: 748px;
  display: flex;
  gap: 30px;
}

/**
 * Left
 */
#left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  gap: 10px;
  align-items: center;
}

#avatar {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
}

#avatar img {
  width: 36px;
  height: 36px;
  border-radius: 12px;
}

#avatar span {
  width: 9px;
  height: 9px;
  border-radius: 12px;
  background-color: #3ade48;
  position: absolute;
  bottom: -2px;
  right: -2px;
  border: 2px solid white;
}

#header h1 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 500;
  color: black;
}

#description {
  margin-top: 20px;
  color: #1f1f1f;
  line-height: 24px;
  font-weight: 400;
  display: block;
}

#contact {
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 40px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px;
  border-radius: 30px;
}

#contact:hover {
  background-color: #1f1f1f;
}

#socials {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.social {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.social:hover {
  opacity: 0.5;
}

#content {
  flex: 1;
}

footer {
  font-size: 14px;
  font-weight: 400;
  color: #1f1f1f;
}

.city {
  position: relative;
  cursor: pointer;
}

.city:hover:before {
  height: 18px;
}

.city:before {
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -2px;
  height: 8px;
  background-color: #5fa5eb;
  opacity: 0.34;
  z-index: -1;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

/**
 * Right
 */
#right {
  width: 560px;
  display: flex;
  gap: 30px;
}

#websites-experience-blog {
  flex: 5.5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}

#apps-projects {
  flex: 4.5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}

.panel {
  padding: 20px;
  border: 1px solid #e0e0e0;
  background-color: #f2f2f2;
  border-radius: 14px;
  overflow: hidden;
}

.panel h3 {
  color: #000000;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

#experience,
#projects {
  flex: 1;
}

#websites img {
  width: 281px;
  height: 199px;
  margin-bottom: -68px;
  margin-right: -24px;
  padding-left: 20px;
  margin-top: 20px;
  filter: grayscale(100%);
  transition: filter 200ms ease-in-out;
}

#websites img:hover {
  filter: grayscale(0%);
}

#experience ul {
  margin: 0;
  padding: 0;
}

.job {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.job .date {
  font-size: 12px;
  color: #8f8f8f;
  width: 85px;
}

.job div:not(.date) {
  flex: 1;
}

.job h4 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: black;
  font-weight: 400;
}

.job p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  color: #8f8f8f;
  font-weight: 400;
  margin-top: 10px;
}

.article {
  font-size: 13px;
  line-height: 18px;
  color: black;
}

.article a {
  font-size: 13px;
  line-height: 18px;
  color: #8f8f8f;
  text-decoration: none;
  margin-left: 6px;
}

.article a:hover {
  text-decoration: underline;
}

.more {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: black;
  text-decoration: none;
}

.more:hover {
  text-decoration: underline;
}

#apps {
  position: relative;
}

#apps img {
  width: 182px;
  height: 275px;
  margin-top: 20px;
  margin-bottom: -54px;
  filter: grayscale(100%);
  transition: filter 200ms ease-in-out;
}

#apps img:hover {
  filter: grayscale(0%);
}

#projects ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.project div {
  flex: 1;
}

.project h4 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  color: black;
  font-weight: 400;
}

.project p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  color: #8f8f8f;
  font-weight: 400;
}

.project span {
  width: 24px;
  height: 24px;
  background-color: #dfdfdf;
  border-radius: 12px;
  background-image: url(/img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 200ms ease-in-out;
}

.project:hover span {
  background-color: #bfbfbf;
}

/**
 * Responsive
 */
@media (max-width: 1100px) {
  main {
    width: 900px;
  }
}

.responsive-footer {
  display: none;
}

@media screen and (max-width: 970px), screen and (max-height: 788px) {
  body {
    flex-direction: column;
  }
  main {
    max-width: 560px;
    width: calc(100% - 40px);
    flex-direction: column;
    height: auto !important;
  }
  #left footer {
    display: none;
  }
  #left {
    padding-top: 40px;
  }
  #right {
    padding-bottom: 40px;
  }
  .responsive-footer {
    display: block;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 640px) {
  main {
    max-width: 320px;
  }
  #header h1 {
    font-size: 20px;
  }
  #right {
    width: 100%;
    flex-direction: column;
  }
  #websites,
  #apps {
    display: none;
  }
  #websites-experience-blog {
    order: 2;
  }
}
