body{color:#333;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol}
#main{margin:0 auto;width:98%;max-width:800px}
header{padding:20px 0}
header nav ul{list-style:none;margin:0;padding:0}
header nav li{display:inline-block;margin-right:10px}
header nav li a{color:#666;text-decoration:none;font-size:18px}
header nav li a:hover{color:#086654}
.intro{margin-top:10px;margin-bottom:20px}
.intro p{padding:0;margin:0;line-height:28px;color:#666}
.intro .author{background:#086654;color:white;padding: 0 2px}
article.home-post{display:flex;margin:40px 0}
article.home-post .date{width:25%;min-width:200px}
article.home-post .date time{font-family:monospace;color:#999;font-size:16px}
article.home-post .content{flex:1}
article.home-post h1{margin-top:0;margin-bottom:15px}
article.home-post h1 a{color:#333;text-decoration:none}
article.home-post h1 a:hover{color:#086654;text-decoration:underline}
article.home-post .tags{color:#999;margin-bottom:10px}
.tags span{margin-right:10px}
.tag{font-family:monospace;color:#999;font-size:14px;text-decoration:none}
.tag:hover{color:#086654;text-decoration:underline}
.summary{line-height:28px;color:#666}
.summary a{color:#086654;text-decoration:none}
.summary a:hover{text-decoration:underline}
.pagination a{color:#777;text-decoration:none}
.pagination a:hover{color:#086654;text-decoration:underline}
.pagination{display:flex;margin:40px 0}
.pagination .empty{width:25%;min-width:200px}
.pagination .numbers{flex:1}
footer{text-align:right;font-size:12px;margin-top:60px}
footer a{color:#777;text-decoration:none}
footer a:hover{color:#086654;text-decoration:underline}
ul, ol{padding-left:20px}
.single-article time{font-family:monospace;color:#999;font-size:16px}
.single-article h1{font-size:32px}
.single-article h1, .single-article h2, .single-article h3, .single-article h4, .single-article h5, .single-article h6{color:#333}
pre{padding:20px !important;background-color:#2E3440 !important;border-radius:5px;font-size:16px}
blockquote{color:#bbb !important;border-left:4px solid #ddd;margin-left:0;padding-left:15px}
ul code,p code{background-color:#D8DEE9;color:#2E3440;padding:2px 4px;border-radius:2px;font-size:14px}
hr{border:0;height:2px;background-color:#D8DEE9;margin:20px 0;display:block}
table{width:100%;border-collapse: collapse}
th, td{border:1px solid #D8DEE9;padding:5px 10px}
tr:nth-child(odd) td{background:rgba(216, 222, 233, 0.432)}
.images-row {display: flex}
.images-row img{display:inline-block;width:31%;height:auto;margin-right:3%;margin-bottom:3%}
.images-row img:last-child{margin-right:0%}
/*Responsive*/
@media only screen and (max-width: 600px) {
    header nav li{margin-bottom:10px}
    article.home-post{display:block}
    article.home-post .date{width:100%}
    .pagination{display:block}
    .pagination .empty{width:100%}
    .images-row {display: block}
    .images-row img{display:block;width:100%;margin-right:0}
}
