---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import PostPreview from '../components/PostPreview';
import Header from '../components/Header';

// Component Script:
let title = 'Rafael Morais';
let description = 'Rafael Morais personal portfolio and blog.';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishdate).valueOf() - new Date(a.frontmatter.publishdate).valueOf());
---

<html lang="en">

<head>
  <BaseHead {title} {description} />
</head>

<body>
  <div style="width:calc(100% - 40px);max-width:600px;margin:40px auto;">
    <!-- HEADER -->
    <Header />

    <!-- POSTS LIST -->
    <section>
      {allPosts.map((p) =>
      <PostPreview post={p} />)}
    </section>
    <div class="text-sm text-gray-500">
      © {new Date().getFullYear()} Rafael Morais
    </div>
  </div>
</body>

</html>