---
export interface Props {
  title: string;
  publishdate: string;
}

const { title, publishdate } = Astro.props;
---

<div>
  <article>
    <div>
      <header>
        <p>{publishdate}</p>
        <h1>{title}</h1>
      </header>
      <main>
        <slot />
      </main>
    </div>
  </article>
  <br>
  © {new Date().getFullYear()} Rafael Morais
</div>