<header>
  <img src="/uploads/Avatar.jpg" class="logo" width="220px" alt="" />
  <div class="info">
    <div class="title">{{ .Site.Title }}</div>
    <div class="subtitle">FullStack Developer</div>
    <nav class="socials">
      <ul>
        {{ range .Site.Menus.socials }}
        <li>
          <a href="{{ .URL | relURL }}" target="_blank">{{ .Pre | safeHTML }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
  <nav class="menu">
    <ul>
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
</header>
