@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Fonts */
  --sans: 'Urbanist', sans-serif;
  --mono: 'Fira Code', monospaced;

  /* Colors */
  --bg: #152012;
  --text: #f3e3c7;
  --icons: #ffffff;
  --stroke: #1f1a0b;
  --accent1: #f8ba49;
  --accent2: #de3b00;
  --accent3: #273d22;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: var(--bg);
  font-family: var(--sans);
  position: relative;
}

main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.content {
  flex: 2;
}

.title-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

@media (max-width: 654px) {
  .body {
    height: auto;
  }
  main {
    display: block;
    height: auto;
  }
  .title-socials {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 474px) {
  .title-socials {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
