{{ define "mainClass" }}post{{ end }}

{{ define "main" }}
	<main>
		<div class="single-menu">
			<div class="post-info">
				<div>
					{{ with .Params.tags }}
						{{ range $i, $e := . }}
							<span class="tag">{{ . }}</span>
						{{ end }}
					{{ end }}
					{{ if ne .Params.showthedate false }}
							<time>{{ .Date.Format "January 2, 2006" }}</time>
            {{ end }}
				</div>
				<h1>{{ .Title }}</h1>
			</div>
			<ul>
				<li><a href="{{ .Site.BaseURL }}">Home</a></li>
				{{ range .Site.Menus.main }}
					<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</div>
		<article class="single-article">
			{{ .Content }}
		</article>
	</main>
{{ end }}
