{{ define "main" }}
	<main>
		<article class="single-article">
            <h1>{{ .Title }}</h1>
			<div class="summary">
				{{ .Content }}
            </div>
            {{ if ne .Params.showthedate false }}
                <time>{{ .Date.Format "January 2, 2006" }}</time>
            {{ end }}
            {{ with .Params.tags }}
				<div class="tags">
					{{ range $i, $e := . }}
						{{ if $i }}
						<span>, </span>
						{{ end }}
						<a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</div>
			{{ end }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>
{{ end }}
