---
import BaseHead from '../components/BaseHead';
import Post from '../components/Post';
import Header from '../components/Header';

const { content } = Astro.props;
const { title, description, publishdate, permalink } = content;
---

<html lang="en">

<head>
  <BaseHead {title} {description} />
</head>

<body>
  <div style="width:calc(100% - 40px);max-width:600px;margin:40px auto;">
    <!-- HEADER -->
    <Header />

    <!-- POST -->
    <Post {title} {publishdate}>
      <slot />
    </Post>
  </div>
</body>

</html>